* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    min-width: 760px;
    max-width: 1920px;
    margin: auto;
    background-color: #20010f;
    /* border-color: aliceblue; */
}

/* 媒体查询 */
@media screen and (max-width:1000px) {}

@media screen and (min-width:1000px) {}

@media screen and (min-width:1290px) {}

/* 导航栏 */
.nav {
    /* background-color: rgb(71, 7, 36); */
    background: linear-gradient(to right, #20010f, rgb(85, 9, 43));
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    min-width: 800px;
}

.nav-centre {
    width: 80%;
    margin: auto;
    position: relative;
}

.nav-right {
    position: absolute;
    right: 0px;
    margin-top: 17px;
}

.nav-right span {
    font-size: 16px;
}

.nav-right a {
    color: rgb(188, 188, 188);
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 25px;
}

.nav-right a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
}

/* 设置logo大小 */
.logo img {
    width: 180px;
    /* vertical-align: middle; */
}

/* 内容 */
.content {
    margin-top: 75px;
}

/* 照片 */
.content-1 img {
    width: 100%;
}

.content-1 {
    position: relative;
}

.content-1 h1 {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 5rem;
    color: white;
}

.img1 {
    display: block;
}

.content-1 img:nth-child(n+3) {
    display: none;
}

/* 文字 */
.content-2 {
    padding: 100px 0;
    display: flex;
    width: 80%;
    margin: auto;
}

/* 左侧选项 */
.content-2-left {
    width: 20%
}

.content-2-left div {
    margin-top: 10%;
}

.content-2-left h3 {
    text-decoration: none;
    color: rgb(159 63 97);
    cursor: pointer;
}

.content-2-left h3:hover {
    color: rgb(235 143 176);
}

/* 右侧显示 */
.content-2-right {
    width: 80%;
}

.content-2-right div {
    color: white;
    font-size: 1.2rem;
    line-height: 2
}

.content-2-right div:nth-child(1) {
    display: block;
}

.content-2-right div:nth-child(n+2) {
    display: none;
}

/* 页脚 */
.foot {
    background: linear-gradient(to bottom, rgb(146, 16, 74), rgb(0, 0, 0));
    background-size: 100%;
}

.foot-1 {
    text-align: center;
    background: url('../img/21.png') no-repeat;
    background-size: 100%;
}

.foot-1 img {
    padding: 6%;
    width: 30%;
    margin: auto;
}


.link {
    display: flex;
    width: 90%;
    margin: auto;
}

.link ul {
    width: 25%;
}

.link ul li {
    list-style-type: none;
    color: #fff;
}

.link ul li a:hover {
    color: rgb(189, 111, 152);
}

/* 赞助商 */
.sponsor ul {
    display: flex;
    width: 80%;
    margin: auto;
}

.sponsor {
    margin-top: 60px;
    padding-bottom: 90px;
}

.sponsor ul li {
    list-style-type: none;
}

.sponsor ul li img {
    width: 100%;
}

/* 版权声明 */
.copyright {
    background: linear-gradient(to right, rgb(95, 4, 60), rgb(81, 1, 120));
    text-align: center;
}

.copyright div {
    color: aliceblue;
}

/* 鼠标悬停二维码 */
.code {
    display: none;
}

.code img {
    position: fixed;
    top: 80px;
    left: 10%;
    width: 150px;
}